[submodule "deps/blibs"]
	path = deps/blibs
	url = https://github.com/bullno1/libs.git
[submodule "deps/bgame"]
	path = deps/bgame
	url = https://github.com/bullno1/bgame.git
[submodule "deps/cute_framework"]
	path = deps/cute_framework
	url = https://github.com/RandyGaul/cute_framework.git
[submodule "deps/remodule"]
	path = deps/remodule
	url = https://github.com/bullno1/remodule.git
[submodule "deps/clay"]
	path = deps/clay
	url = https://github.com/bullno1/clay.git
[submodule "deps/ufa"]
	path = deps/ufa
	url = https://github.com/bullno1/ufa.git
